.loginpage  {
    background-color: rgba(3, 3, 34, 0.795);
    padding-bottom: 2.5%;
}
.c1{
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
     background-image: url(https://images.hdqwalls.com/wallpapers/daft-punk-minimalism-3-pic.jpg); 
    
    background-size: cover;
    background-position: center;
    min-height: 300px;
    border-radius: 8px 0px 0px 8px;
}

.myinput {
    border: none;
    border-bottom: black solid 2px;
    outline: none;
    margin-top: -15px;
    border-radius: 0px;
    padding-right: 50px;
}